.container  {
    display: inline-flex;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 30px;
    background-color: #000000;
    padding: 15px; 
    position: fixed; 
    top: 0; 
    width: 100%; /* Full width */
    left: 0;
    transition-duration: 0.4s;
}
.container a:hover{
    color: rgb(63, 61, 61);
   
}
.nav-link , .navbar-brand{
    color: #ffffff;
    text-decoration-line: none;
    
}


.App{
    background-color: #020101;
    opacity: 80%;
}
body{
margin: 60px;
background-image: url('./components/green.jpg');
height: auto; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;
}


.movie-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
    
    
    }
.filter ,label  {
display: flex; 
flex-direction: row;
justify-content:flex-end;
font-size: 18px;
margin-bottom: 20px;
background-color:#4CAF50;


} 

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    
}
.movie-card h3,p {
display: flex;
justify-content: center;
color: white;
border-style: dotted;
border-color: #4CAF50;
margin-top: 2px;
}

button{
    
    background-color: #4CAF50; /* Green */
    border-radius: 12px;
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 16px;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    transition-duration: 0.4s;
    
}
button:hover {
    
    color: rgb(14, 2, 2);
  }




label{
color: white;
margin-right: 10px;
padding-top: 15px;
}

#title-filter , #rating-filter{
margin-right: 15px;
background-color: #6e706e; 
opacity: 80%;  
color: white;
size-adjust: 20px;
max-block-size: 25px;
margin-top: 15px;
border-radius: 12px;
border: none;
}

.soon h1{
color: aliceblue;

}

